.product-list {
    margin-top: 2%;

    display: table;
    margin: 0 auto;

    .card {
        background-color: rgb(252, 252, 252);
        border-radius: 0.5rem;

        padding-bottom: 1rem;

        overflow: hidden;

        img {
            border-radius: 0.5rem 0.5rem 0 0;
            width: 100%;
            object-fit: cover;
            max-height: #{"max(10rem, 30vh)"};
            aspect-ratio: 4/3;

            ~ * {
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }

        > :last-child {
            margin-bottom: 0;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 1px 1px 5px 1px rgb(185, 185, 185);
        }

        .name {
            margin-top: 2%;
            font-size: 20px;
            font-weight: 600;
            color: rgb(59, 59, 59);
        }
        .price {
            font-size: 18px;
            font-weight: 600;
            color: rgb(71, 71, 71);
        }
        .envio {
            font-size: 15px;
            color: rgb(78, 78, 78);
        }
    }

    .card-wrapper {
        list-style: none;
        padding: 10px;
        margin: 0;
        display: grid;
        //grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
        grid-template-columns: repeat(3, minmax(0, 100%));
        grid-gap: 2%;
        //max-width: 20%;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
