.error-msg{
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #e27773;
    background-color: #e29d98; 
    color: #111111;
    padding: 0.3rem 0.2rem 0.3rem 0.2rem;
    font-size: 14px;
}