
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Source mixin
@mixin make-container($width,$padding-x: $container-padding-x) {
    width: $width;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(230, 230, 230);
}

@mixin make-container-gray($width,$padding-x: $container-padding-x) {
    width: $width;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(230, 230, 230);
}

.products{

    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(230, 230, 230);
    .custom-container-gray{
        @include make-container-gray(70%);
    }

    .loader{
        margin: 5% auto;
    }
    
}

